*{
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$color1 : #d02b37;
$color2 : #bc002d;
$black : #3e3e3e;
$font : 'Roboto', sans-serif;

body{
  background: url('../img/bg-repeat.png') repeat $black;
}

.top{
  background: url('../img/bg-repeat.png') repeat #d02b37;
  padding: 40px 0 160px;
  h1{
    font-family: $font;
    font-weight: 300;
    font-size: 24px;
    color: #fff;
    text-align: center;
    display: block;
    max-width: 500px;
    margin: 0 auto 20px;
  }
  h2{
    font-family: $font;
    font-weight: 400;
    font-size: 32px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    b{
      display: block;
      strong{
        background: $black;
        padding: 0 10px;
        text-transform: uppercase;
      }
    }
  }
  &.v1{
    h1{
      font-size: 34px;
      text-transform: initial;
      b{
        strong{
          background: $black;
          padding: 0 10px;
          text-transform: uppercase;
        }
      }
    }
    h2{
      font-size: 22px;
    }
  }
}

.container{
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}

.cta{
  background: url('../img/bg-repeat.png') repeat #fff;
}

@keyframes flutuar {
  0%{
    top: 70px;
  }
  100%{
    top: 80px
  }
}

.error{
  position: fixed;
  width: 100%;
  height: 100%;
  background: $black;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  align-items: center;
  align-content: center;
  display: none;
  &.on{
    display: grid !important;
  }
  h1{
    max-width: 480px;
    width: 100%;
    display: table;
    align-items: center;
    margin: 0 auto;
    font-family: $font;
    font-weight: 300;
    font-size: 24px;
    color: #fff;
    text-align: center;
    a{
      color: #fff;
      font-weight: 700;
      background: $color2;
      padding: 10px 20px;
      text-decoration: none
    }
  }
}

.formulario-inscricao{
  display: block;
  max-width: 580px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 20px;
  position: relative;
  top: -120px;
  .mc-field-group{
    display: block;
    width: 100%;
    padding: 0 15px;
    margin: 15px 0;
    border: 2px solid #e8e8e8;
    box-sizing: border-box;
    background: #fff;
  }
  cite{
    display: flex;
    align-items: center;
    padding: 15px 0;
    svg{
      width: 20px;
      fill: #000;
      margin-right: 10px;
      margin-left: auto;
    }
    i{
      font-family: $font;
      font-weight: 300;
      font-size: 16px;
      color: $black;
      font-style: normal;
      display: block;
      margin-right: auto;
    }
  }
  input[type="text"],input[type="email"], input[type="submit"]{
    display: block;
    width: 100%;
    padding: 15px 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    outline: none;
    font-family: $font;
    font-weight: 300;
    font-size: 22px;
    color: $black;
  }
  input[name="FNAME"]{
    background: url('../img/icon-name.svg') no-repeat #fff;
    background-size: 30px;
    background-position: center right;
  }
  input[name="EMAIL"]{
    background: url('../img/icon-email.svg') no-repeat #fff;
    background-size: 30px;
    background-position: center right;
  }
  input[name="PHONE"]{
    background: url('../img/icon-phone.svg') no-repeat #fff;
    background-size: 30px;
    background-position: center right;
  }
  input[type="submit"]{
    cursor: pointer;
    background: $color1;
    transition: all .2s linear;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border-color: $color2;
    &:hover{
      background: $color2;
    }
  }
  &:after{
    content: "";
    display: block;
    width: 105px;
    height: 150px;
    background: url('../img/arrow.png') no-repeat;
    background-size: cover;
    position: absolute;
    right: -150px;
    top: 80px;
    animation: flutuar .7s linear infinite;
    animation-direction: alternate;
  }
  &:before{
    content: "";
    display: block;
    width: 105px;
    height: 150px;
    background: url('../img/arrow.png') no-repeat;
    background-size: cover;
    position: absolute;
    left: -150px;
    top: 80px;
    transform: scaleX(-1);
    animation: flutuar .7s linear infinite;
    animation-direction: alternate;
  }
  #mce-success-response, #mce-error-response{
    font-family: $font;
    font-weight: 700;
    font-size: 38px;
    color: #ffc700;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin: 10px auto;
  }
}

div[for="mce-FNAME"], div[for="mce-EMAIL"]{
    display: none !important;
}

.mce_inline_error::placeholder{
  color: $color1;
  font-weight: 700;
}

.video{
  padding: 40px 0 60px;
  background: #fff;
  margin-bottom: -150px;
  .playvd{
    display: block;
    max-width: 780px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -150px;
    box-sizing: border-box;
    iframe{
      width: 770px;
      height: 433px;
      margin-bottom: 30px;
      border: 5px solid #fff;
    }
  }
}

.about{
  padding: 60px 0;
  background: #efefef;
  h1{
    font-family: $font;
    font-weight: 700;
    font-size: 38px;
    color: $black;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
  }
  p{
    font-family: $font;
    font-weight: 400;
    font-size: 20px;
    color: $black;
    text-align: left;
    line-height: 2;
  }
}

.bullet{
  padding: 60px 0;
  background: #fff;
  h1{
    font-family: $font;
    font-weight: 700;
    font-size: 38px;
    color: $black;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin-bottom: 50px;
  }
  .blocos{
    display: flex;
    align-items: center;
    .col{
      max-width: 350px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      img{
        display: block;
        margin: 0 auto 20px;
      }
      p{
        font-family: $font;
        font-weight: 400;
        font-size: 17px;
        color: $black;
        text-align: center;
        line-height: 1.6;
        max-width: 280px;
        margin: 0 auto;
      }
    }
  }
}

.btn{
  font-family: $font;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: block;
  max-width: 480px;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  background: $color1;
  transition: all .2s linear;
  margin: 0 auto;
  &:hover{
    background: $color2;
  }
}

.price{
  font-family: $font;
  font-weight: 300;
  font-size: 22px;
  color: $black;
  text-align: center;
  font-style: normal;
  display: block;
  margin: 10px auto;
}

footer{
  padding: 40px 0;
  background: $black;
  p{
    font-family: $font;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    text-align: center;
    b{
      font-weight: 700;
    }
  }
}
